html,
body {
  position: fixed;
  margin: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1a202c;

  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow-x: hidden;
  color: #fff;
  background-attachment: scroll;
}

.intro-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.play-btn {
  margin-top: 1rem;
  font-weight: bold;
  color: white;
  background-color: #7a0bc0;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  padding: 0.7rem 1.5rem;
}

.model {
  height: 15rem;
}

.logo > img {
  width: 50%;
}

h3 {
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  width: 80%;
  height: 80%;
}

.card-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 1rem;
}

.card {
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 16px;
  width: 70%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.front {
  width: 75%;
  padding: 1rem;
}

.back {
  width: 75%;
  padding: 1rem;
}
