html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1a202c;

  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow-x: hidden;
  color: #fff;
  background-attachment: scroll;
}

.logo > img {
  width: 50%;
}

h3 {
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  width: 80%;
  height: 80%;
}

.card-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 1rem;
}

.card {
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 16px;
  width: 70%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.front {
  width: 75%;
  padding: 1rem;
}

.back {
  width: 75%;
  padding: 1rem;
}
